@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
  background-color: #000000;
  color: white;
  font-family: 'Poppins', sans-serif;
  
}

.top {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px;
  /* border: 1px solid green; */
}

.top-links {
  display: flex;
  justify-content: space-around;
  padding: 0px 20px;
  width: 300px;
  padding-top: 13px;
   /* border: 1px solid red; */
}

.top-settings {
  font-size: 13px;
}


.top-right button {
  margin-left: 20px;
}

.description button {
  margin-top: 30px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   /* border: 1px solid plum; */
}

.images {
  width: 30px;
  height: 30px;
}

.case-studies {
  display: flex;
  justify-content: space-between;
  margin: 5px 50px;
  /* border: 1px solid yellow; */
}

.black-card {
  border:1px solid gray;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  width: 500px;
}

.blue-card {
  border:1px solid #3778f1;
  background-color:#3778f1;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  width: 500px;
}

.collections-cards {
  display: flex;
  margin: 5px 40px;
   /* border: 1px solid yellow; */
}

.gray-letters {
  color:  #929292;
}

.description {
  text-align: center;
  width: 400px;
  height: 300px;
  /* border: 1px solid orange; */
}

.botton-text {
  padding: 1px 10px 20px 10px;
  font-size: 15px;
  /* color: red; */
}

h1 {
  font-weight: 500;
}

h2 {
  /* border: 1px solid pink; */
  margin-bottom: 3px;
  font-weight: 500;
}

a{
  text-decoration: none;
  color: white;
}

span {
  color:  #929292;
}

button {
  background-color: #3778f1;
  border-radius: 35px;
  color: white;
  padding: 8px 25px;
}

